<div class="col-5 m-auto">
    <div class="search close-not-on-click" [formGroup]="formGroup">
        <input
            [formControlName]="'searchInput'"
            class="search-input close-not-on-click"
            type="text"
            placeholder="e.g. Agriculture"
            autocomplete="off"
            autocapitalize="off"
            autocorrect="off"
            (input)="onSearchInputInput($event)"
            (focus)="onSearchInputFocus()"
            (keyup)="onSearchInputKeyUp($event)"
            #searchInput>
        <input class="search-input-clear close-not-on-click" type="button" value="X" (click)="onClearSearchInputClick()" *ngIf="!isSearchInputEmpty()">
        <div class="search-autocomplete close-not-on-click" *ngIf="isSearchAutocompleteOpen && filteredItems.length > 0">
            <div class="search-autocomplete-wrap close-not-on-click">
                <div
                    class="item close-not-on-click"
                    [class.focus]="item.focus"
                    [class.selected]="isItemSelected(item)"
                    (click)="onItemClick(item)"
                    (mouseenter)="onItemMouseEnter(item)"
                    *ngFor="let item of filteredItems"
                    [innerHTML]="item.label"></div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="selected-items">
        <span class="item" *ngFor="let item of selectedItems" [innerHTML]="item.label" (click)="removeItemFromSelectedItems(item)"></span>
    </div>
</div>
<div class="spacer-x6"></div>
<div class="spacer-x6"></div>
<div class="spacer-x6"></div>
<div class="spacer-x6"></div>
