// colors
$color-primary: #0366d6;

$color-white: #fff;
$color-gray-light: #f2f2f2;
$color-gray: #959595;
$color-gray-dark: #545454;
$color-black: rgb(36, 41, 46);;

// text
$font-size-1: 2rem;
$font-size-2: 1.5rem;
$font-size-3: 1rem;

// space
$space: 0.25rem;
